html,
body,
#app {
  height: 100%;
}

.h-full {
  height: 100%;
}

.ag-theme-alpine {
  --ag-selected-tab-underline-width: 2px;
  --ag-selected-tab-underline-transition-speed: 0.5s;

  --ag-side-bar-panel-width: 300px;
}

.fr-container {
  max-width: 100%;
}

/* Style Biblitique Numerique */
.bn-list-search {
  height: 100%;
  display: flex;
  align-items: center;
}

.bn-list-search-organisme {
  background-color: var(--border-plain-grey);
  color: var(--background-default-grey);
}

.bn-list-search-demarche {
  background-color: var(--artwork-minor-blue-france);
  color: var(--background-default-grey);
}

.bn-list-search-dossier {
  background-color: var(--artwork-minor-blue-france);
  color: var(--background-default-grey);
}

.bn-list-search-title-organisme {
  color: var(--background-default-grey);
}

.bn-list-search-title-demarche {
  color: var(--background-default-grey);
}

.bn-list-search-title-dossier {
  color: var(--background-default-grey);
}

.bn-table-organisme {
  height: 100%;
}