html,
body,
#app {
  height: 100%;
}

.h-full {
  min-height: 100%;
}

.fr-container {
  max-width: 100%;
}

/* Style Biblitique Numerique */
.bn-list-search {
  height: 100%;
  display: flex;
  align-items: center;
}
.bn-list-search-profile {
  background-color: var(--border-plain-green-bourgeon);
  color: var(--background-default-grey);
}

.bn-list-search-organisme {
  background-color: var(--border-plain-grey);
  color: var(--background-default-grey);
}

.bn-list-search-demarche {
  background-color: var(--artwork-minor-blue-france);
  color: var(--background-default-grey);
}

.bn-list-search-dossier {
  background-color: var(--artwork-minor-blue-france);
  color: var(--background-default-grey);
}

.bn-list-search-title-profile {
  color: var(--background-default-grey);
}

.bn-list-search-title-organisme {
  color: var(--background-default-grey);
}

.bn-list-search-title-demarche {
  color: var(--background-default-grey);
}

.bn-list-search-title-dossier {
  color: var(--background-default-grey);
}

.bn-fiche-space-left {
  padding-left: 8%
}

.bn-list-contact {
  margin: 0.125rem;
}

.bn-fiche-title--text {
  font-size: 1.25rem;
}
.bn-fiche-title--text-sm {
  font-size: 0.825rem;
}

.bn-fiche-sub-title--label {
  display: block;
  color: var(--text-mention-grey);
  font-family: 'Marianne';
  font-style: normal;
  font-weight: 700;
  font-size: 0.625rem;
  line-height: 1.25rem;
}
.bn-fiche-sub-title--text {
  font-family: 'Marianne';
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.25rem;
}

.bn-champ--text {
  font-family: 'Marianne';
  font-style: normal;
}

.bn-message--text{
  font-family: 'Marianne';
  font-style: normal;
}
.bn-message-date--text{
  color: #666666;
}
.bn-message-body--text{
  color: #161616;
}

.bn-icon--blue-france-main-525 {
  background-color: var(--blue-france-main-525);
  border-radius: 100%;
  color: var(--grey-1000-50);
  width: 2rem;
  height: 2rem;
  display: inline-block;
  text-align: center;
}

.bn-icon--blue-france-main-525 > span {
  position: relative;
  top: 0.25rem
}

.bn-icon--pink-macaron-950-active {
  background-color:rgb(252,176,162);
  border-radius: 100%;
  color: var(--grey-1000-50);
  width: 2rem;
  height: 2rem;
  display: inline-block;
  text-align: center;
}
.bn-icon--pink-macaron-950-active > span {
  position: relative;
  top: 0.25rem
}

.bn-text--shadow {
  color: var(--grey-50-1000);
  text-shadow: #818080 0.1em 0.3em 0.34em
}

.bn-ellipse {
  box-sizing: border-box; 
  clip-path: ellipse(50% 50%);
}
.bn-ellipse-name {
  font-family: 'Marianne';
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: var(--grey-1000-50);
  background: #C2B24C;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bn-ellipse-img {
  width: 3rem;
  height: 3rem;
}
.bn-ellipse-account {
  color: var(--grey-1000-50);
  background: var(--blue-france-main-525);
  border: 5px solid var(--blue-france-main-525);
}
.bn-ellipse-file-text {
  color: var(--grey-1000-50);
  background: var(--green-tilleul-verveine-sun-418-moon-817);
  border: 5px solid var(--green-tilleul-verveine-sun-418-moon-817);
}
.bn-dossier-pj-box {
  color: var(--grey-50-1000);
  background: var(--info-950-100);
  font-family: 'Marianne';
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.25rem;
  display: flex;
  align-items: center;
  width: fit-content;
  padding-right: 1rem;
}