<%- include('header'); %>
<p>
    Vous avez demandé à réinitialiser votre mot de passe. Vous pouvez dès à présent
    réinitialiser votre mot de passe en cliquant sur le lien suivant :
    <a href=<%= locals.urlResetLink %>>réinitialiser le mot de passe</a>
  </p>
<%- include('footer'); %>