<%- include('header'); %>
  <p>Bonjour,</p>
  <p>
    Nous avons reçus votre demande d'inscription à l'application Bibliothèque-numérique.<br>
    Afin de finaliser votre inscription, Veuillez cliquer sur le lien
    <a href=<%= locals.urlValidLink %>>pour valider votre addresse courriel</a>
  </p>

  <p>
    Si vous n'avez pas fait de demande, aucune autre action n'est requise
  <p>
  <p>
      Merci!
  </p>

<%- include('footer'); %>
