input {
  file {
    type => "bn-worker"
    path => "/home/bn/worker-*.log"
    start_position => "beginning"
    sincedb_path => "/dev/null"
  }
}

filter {
    json {
        source => "message"
    }
    date {
        match => ["timestamp", "ISO8601"]
        target => "@timestamp"
    }
}

output {
  if [type] == "bn-worker" {
    elasticsearch {
      hosts => ["elasticsearch:9200"]
      index => "logstash-bn-worker-%{+YYYY.MM.dd}"
    }
  }
  stdout {
    codec => rubydebug
  }
}
