input {
  file {
    type => "apilogs"
    path => "/home/bn-api/api-*.log"
    start_position => "beginning"
    sincedb_path => "/dev/null"
  }
}

filter {
  json {
    source => "message"
  }
  date {
    match => ["timestamp", "ISO8601"]
    target => "@timestamp"
  }
}

input {
  file {
    type => "workerlogs"
    path => "/home/bn-api/worker-*.log"
    start_position => "beginning"
    sincedb_path => "/dev/null"
  }
}

input {
  file {
    type => "clientlogs"
    path => "/home/bn-api/client-*.log"
    start_position => "beginning"
    sincedb_path => "/dev/null"
  }
}

output {
  if [type] == "apilogs" {
    elasticsearch {
      hosts => ["elasticsearch:9200"]
      index => "api-%{+YYYY.MM.dd}"
    }
  }
  if [type] == "workerlogs" {
    elasticsearch {
      hosts => ["elasticsearch:9200"]
      index => "worker-%{+YYYY.MM.dd}"
    }
  }
  if [type] == "clientlogs" {
    elasticsearch {
      hosts => ["elasticsearch:9200"]
      index => "client-%{+YYYY.MM.dd}"
    }
  }
}
